@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 6px;
    height: 0;
    scrollbar-width: 6px;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
    background: #121214;
}

::-webkit-scrollbar-thumb {
    background: #202024;
}

* {
    font-family: Roboto, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #E1E1E6;
    background: #121214;
}

#Opinions ul {
    height: 90%;
    columns: 3;
    column-gap: 16px;
}

@media(max-width: 1024px) {
    #Opinions ul {
        columns: 2;
        column-gap: 8px;
    }
}

@media (max-width: 768px) {
    #Opinions ul {
        columns: 1;
    }

    #Opinions ul li:nth-child(4), #Opinions ul li:nth-child(5), #Opinions ul li:nth-child(6) {
        display: none;
    }
}